SUPABASE_URL=https://dorjkpiiwqvtfflmlzou.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvcmprcGlpd3F2dGZmbG1sem91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4MzgwMzQsImV4cCI6MjA3OTQxNDAzNH0.Ltwv6YBSJoh07jrU7_0t7YwXkiOnTLwf4Lh3oLUpUI4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvcmprcGlpd3F2dGZmbG1sem91Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzgzODAzNCwiZXhwIjoyMDc5NDE0MDM0fQ.5QXRV5DF5zNwjno7-AvtgVM0o4bCh5AVWwYBm44yrRc
SUPABASE_JWT_SECRET=ZouG0YcIMJDeGXLgJioxJkpz9F7kJBzNxTv8kzbMWqXWQcXNmupelb23IrlMsRExdlBVF3IO3PWuiFYTpyC5Ew==

NODE_ENV=development



RATE_LIMIT_MAX_REQUESTS=10

RATE_LIMIT_TIME_WINDOW=5

SESSION_EXPIRY_HOURS=24

ENABLE_DEBUG_LOGS=true